services:
  homepage:
    image: "ghcr.io/gethomepage/homepage:{{ homepage_version }}"
    container_name: homepage
    ports:
      - "{{ homepage_port }}:3000"
    volumes:
      - "{{ homepage_config_dir }}:/app/config"
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      HOMEPAGE_ALLOWED_HOSTS: "{{ homepage_allowed_hosts }}"
      TZ: "{{ homepage_timezone }}"
    restart: on-failure:5
